.fullBackground {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.5);

}

.articleTitle
  color:white;
}

.small-text{
  color:white
  ;
}

.pageTitles{
  color:white;
}