{% extends "layout.html" %}
{% block dropdown %}
 {% for category in categories%}
 	<a class="dropdown-item" href="{{url_for('dropdown',category=category)}}">{{category}}</a>
 {% endfor %}
{% endblock %}
{% block content %}
	<h1 class = "pageTitles">About Page</h1>
	<script >
           $('.fullBackground').fullClip({
      images: ['https://images.hdqwalls.com/download/bmw-220i-cabrio-luxury-line-2017-4k-rm-1920x1080.jpg', 'https://wallpapercave.com/wp/wp1859650.jpg'],
      transitionTime: 2000,
      wait: 5000
    });
    </script>
{% endblock %}